{% extends "layout.njk" %}

{% block head %}

<title>Aulas recomendadas - Luis Fernando</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Aulas Recomendadas</h1>
    </div>

    <section class="cards">

        <div class="card" id="GykTLqODQuU">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/GykTLqODQuU/maxresdefault.jpg" alt="Formulario animado com JS">
            </div>
            <div class="card_content">
                <p>Formulário Animado com JS puro e CSS Animation</p>
            </div>
            <div class="card_info">
                <p>57 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="EhnXaybirdA">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/EhnXaybirdA/maxresdefault.jpg" alt="Formulario animado com JS">
            </div>
            <div class="card_content">
                <p>Criando um projeto do zero para seu portfólio | Masterclass #14</p>
            </div>
            <div class="card_info">
                <p>45 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="KISMYYXSIX8">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/KISMYYXSIX8/maxresdefault.jpg" alt="Formulario animado com JS">
            </div>
            <div class="card_content">
                <p>Autenticação no React Native / ReactJS com Context API & Hooks | Masterclass #12</p>
            </div>
            <div class="card_info">
                <p>71 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="BvhYm0BOLvA">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/BvhYm0BOLvA/maxresdefault.jpg" alt="Formulario animado com JS">
            </div>
            <div class="card_content">
                <p>Dark Mode raiz com CSS e JavaScript | Code/Drops #24</p>
            </div>
            <div class="card_info">
                <p>17 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="mxIhSTP6ddE">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/mxIhSTP6ddE/maxresdefault.jpg" alt="Formulario animado com JS">
            </div>
            <div class="card_content">
                <p>Utilizando UX para projetar uma aplicação do zero | Masterclass #09</p>
            </div>
            <div class="card_info">
                <p>79 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

        <div class="card" id="eSjFDWYkdxM">
            <div class="card_image-container">
                <img src="https://img.youtube.com/vi/eSjFDWYkdxM/maxresdefault.jpg" alt="Formulario animado com JS">
            </div>
            <div class="card_content">
                <p>Emulando React Native no iOS/Android com Expo | Code/Drops #03</p>
            </div>
            <div class="card_info">
                <p>16 min</p>
                <p class="card_price">Free</p>
            </div>
        </div>

    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>

            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>

{% endblock %}