<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Luis Fernando</title>
        <link rel="stylesheet" href="/style.css">
        <link rel="icon" href="img/favicon.ico" type="x-icon">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/">Sobre</a>
                <a href="/classes">Aulas recomendadas</a>
            </div>
        </header>
        <div id="wrapper">
            <img src="https://avatars2.githubusercontent.com/u/28775702?s=460&u=a097a006f8315a5db800da9e06e17bc45bfeb6d5&v=4" alt="Luis Fernando">
            <h1>Luis Dev</h1>
            <h2>Aluno - Rocketseat</h2>
            <p>Estudante que em breve se tornara um grande desenvolvedor.</p>
        </div>

        <div class="links" id="links-footer">
            <a href="https://github.com/LuisFernandoDeveloper" target="_blank">Github</a>
            <a href="/" target="_blank">Twitter</a>
            <a href="/" target="_blank">Linkedin</a>
        </div>
    </body>
</html>