{% extends "layout.njk" %}

{% block head %}
    <title>Desafio 3-1 - home</title>
{% endblock %}

{%block content%}
    <section>
        <div id="conteudo">
            <img src="img/logo.jpg">           

            <h1>Rocketseat</h1>

            <h2>As melhores tecnologias em programação, direto ao ponto e do jeito certo. </h2>

            <p>No meio de tanta informação e da quantidade de ferramentas que surgem todos os dias, você precisa de alguém que te leve na direção certa.</p>

            <ul>
                <li>Node Js</li>
                <li>React Native</li>
                <li>React Js</li>
            </ul>
        </div>
        <div id="links-footer" class="links">
            <a href="/">GitHub</a>
            <a href="/">Instagram</a>
            <a href="/">Facebook</a>
        </div>
    </section>

{%endblock%}