{% extends "layout.njk" %}

{% block head %}
    <title>Desafio 3-1 - home</title>
{% endblock %}

{%block content%}

<section>
    <div id="conteudo">
    <h1>Erro 404</h1>

    <p>Você provavelmente digitou algo errado e caiu nesta página, mas não se preocupe clique no link a baixo e retorne para página inicial.</p>

    <button class="erro"><a href="/">INICIO</a></button>

{%endblock%}