{% extends "layout.njk" %}

{% block head %}
    <title>Desafio 3-1 - home</title>
{% endblock %}

{%block content%}
    <section>
        <div id="conteudo">
            <img src="{{data.logo}}">           

            <h1>{{data.company}}</h1>

            <h2>{{data.phrase}}</h2>

            <p>{{data.description}}</p>

            <ul>
                {% for course in data.courses %}
                    <li>{{course.name}}</li>
                {%endfor%}
            </ul>
        </div>
        <div id="links-footer" class="links">
            {% for link in data.links%}
                <a href="{{link.url}}">{{link.name}}</a>
            {%endfor%}
        </div>
    </section>

{%endblock%}